.app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.mobile-header {
  display: none;
}

.desktop-layout {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.content {
  flex: 1;
  overflow: hidden;
}

@media (max-width: 750px) {
  .desktop-layout {
    flex-direction: column;
    height: calc(100% - 60px);
  }

  .mobile-header {
    display: block;
    height: 60px;
  }
}